@section scripts {
    <script src="~/Scripts/angular.js"></script>  
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Client/Scripts/atTheMovies.js"></script>  
    <script src="~/Client/Scripts/movieService.js"></script>
    <script src="~/Client/Scripts/ListController.js"></script>
    <script src="~/Client/Scripts/DetailsController.js"></script>
    <script src="~/Client/Scripts/EditController.js"></script>
}

<div ng-app="atTheMovies">
    <ng-view></ng-view>
</div>